DB_HOST=localhost
DB_PORT=5432
DB_USER=voter
DB_PASSWORD=voter
DB_NAME=voter_sentiment

REDIS_HOST=localhost
REDIS_PORT=6379

JWT_PRIVATE_KEY_PATH=classpath:/privateKey.pem
JWT_PUBLIC_KEY_PATH=classpath:/publicKey.pem

CORS_ORIGINS=http://localhost:3000,http://localhost:5173
